<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de Dueños</h1>
    
    
    {% for p in object_list %}
        <li>
            <p>Nombre:{{p.nombre}} | Apellido:{{p.apellido}} |Telefono:{{p.telefono}}</p>
            <p>
                <a href="{% url 'Detail' p.id %}">Ver| </a>
                <a href="{% url 'Edit' p.id %}">Editar|</a>
                <a href="{% url 'Delete' p.id %}">Borrar</a>
            </p>

        </li>
        
    {% endfor %}
<p>
    <a href="formularioPersona">Agregar/</a>
    
</p>

</body>
</html>